body {
    background-color: transparent;
    color: #000;
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: var(--font-weight-normal, 400);
    line-height: 1.5;
    margin: 0 auto;
    -ms-overflow-style: scrollbar;
    text-align: inherit;
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
}

.container {
    max-width: 100vh;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}
.btn-secondary{
    position: absolute;
    background-color: #717A84;
}
#lo{
    top: 0px;
    right: 0px;
}
h2 {
    text-align: center;
}
.logo{
    width: 150px;
    height: 150px;
}
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 5px;
}

clear{
    clear:both;
    margin-top: 20px;
}

.autocomplete-list{
    width: 250px;
    position: relative;
}
.autocomplete-list {
    list-style: none;
    padding: 0px;
    width: 100%;
    position: absolute;
    margin: 0;
    background: white;
}

.autocomplete-list  li{
    background: #EDCB96;
    padding: 4px;
    margin-bottom: 1px;
}


.autocomplete-list  li:hover{
    cursor: pointer;
    background: #717A84;
}

.sugg input[type=text]{
    padding: 5px;
    width: 100%;
    letter-spacing: 1px;
}

.submit-btn {
    margin-top: 10px;
}

 table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#dynamic-table th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#dynamic-table th {
    background-color: #98C1D9;
}

#dynamic-table tr:hover {
    background-color: #f5f5f5;
}
select{
    width: 100%;
    border: 1px solid #ccc;
    padding-left: 5px;
    padding: 5px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid rgb(41, 18, 18);
}
select>option{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    background-color: rgb(247, 247, 247);
    background-image: none;
    font-size: 18px;

    padding: 15px;
    border: 1px solid rgb(41, 18, 18);
}