body{
 background-color:#69140E ;
}
.wlc{
    background-color:#EDCB96 ;
}
.autocomplete-list{
    background-color:#274C77 ;
}
.btn-secondary{
    background-color:#98C1D9 ;
}
.btn-primary{
    background-color: #717A84;
}

