@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,300i,400i,500i,600i,700i,800i&display=swap'); 
@font-face { 
  font-family:'FontAwesome';
  src:url('./fonts/fontawesome-webfont.eot-v-4.7.0');
  src:url('./fonts/fontawesome-webfont.eot-#iefix&v-4.7.0') format('embedded-opentype'), url('./fonts/fontawesome-webfont.woff2-v-4.7.0') format('woff2'), url('./fonts/fontawesome-webfont.woff-v-4.7.0') format('woff'), url('./fonts/fontawesome-webfont.ttf-v-4.7.0') format('truetype'), url('./fonts/fontawesome-webfont.svg-v-4.7.0#fontawesomeregular') format('svg');
  font-weight:normal;
  font-style:normal;
}
body { 
    background-color:  transparent;
    color:  #000; 
    font-family:  'Open Sans', sans-serif !important; 
    font-size:  14px; 
    -moz-osx-font-smoothing:  grayscale; 
    -webkit-font-smoothing:  antialiased; 
    font-weight:  var(--font-weight-normal, 400); 
    line-height:  1.5; 
    margin:  0 auto; 
    -ms-overflow-style:  scrollbar; 
    text-align:  inherit;
    background: url("/gatePassONGC/assets/body-bg.jpg") no-repeat fixed center top / cover  transparent; 
    height: 100%; 
    width: 100%; 
    overflow-x: hidden; 
    background-image: url("/gatePassONGC/assets/body-bg.jpg"); 
    background-position-x: center; 
    background-position-y: top; 
    background-size: cover; 
    background-attachment: fixed; 
    background-origin: initial; 
    background-clip: initial; 
}
div.container{
    position: relative;
    width: 100% ;
    z-index: -1;

}
div.lbox {
    position: absolute;
    padding: auto;
    width: 482px;
    height: 600px;
    left: 110px;
    top: 160px;
    background: #FFFFFF;
    border-radius: 10px;
}
div.lmod{
    margin: 0 auto;
    position: absolute;
}
h2 {
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 5px;
}

.submit-btn {
    margin-top: 10px;
}
