body {
    font-family: Trirong,   serif;
    position: absolute;
    background-color: aqua;
}
div.bg{
    width: 10000px;;
    height:100000px;
    position: relative;
}
div.background{
    max-width: fit-content;
    max-height: fit-content;
    position: inherit;
    z-index: -1;
}
div.lbox {
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #383737;
    border-radius: 5px; 
    position: absolute;
    background-color: aliceblue;
    z-index: 1;
}

h2 {
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 5px;
}

.submit-btn {
    margin-top: 10px;
}
